{% extends "log_sys.html" %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">

    <div
            class="glass-card p-5 shadow-lg"
            style="width: 430px;"
    >

        <div class="text-center mb-4">

            <h1 class="fw-bold gradient-text">
                VPN SERVICE
            </h1>

            <p class="text-secondary mt-3">
                Авторизация в систему
            </p>

        </div>

        {% if message %}

        <div class="alert alert-danger text-center rounded-4">

            {{ message }}

        </div>

        {% endif %}

        <form method="post">

            {{ form.hidden_tag() }}

            <div class="form-floating mb-4">

                {{ form.email(
                    class="form-control custom-input",
                    placeholder="Email"
                ) }}

                <label>Email</label>

            </div>

            <div class="form-floating mb-4">

                {{ form.password(
                    class="form-control custom-input",
                    placeholder="Пароль"
                ) }}

                <label>Пароль</label>

            </div>

            <div class="mt-4">

                {{ form.submit(
                    class="btn btn-purple w-100"
                ) }}

            </div>

            <div class="text-center mt-4">

                <a
                        href="/registration"
                        class="btn btn-outline-light w-100 rounded-4"
                >
                    Регистрация
                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}